.manage-slider{
    
    background: radial-gradient(65.04% 92.14% at 96.28% 92.63%, rgba(59, 170, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(177.08% 194.24% at -110.38% -98.45%, rgba(255, 171, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #000000;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 15px;
    height: 100%;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    position: fixed;
    z-index: 5;
    align-items: stretch;
    justify-items: stretch; 
    right: 0;
    box-shadow: -30px 0px 30px rgba(0, 0, 0, 0.9) ;
}

.instructions{
    background: transparent;
    padding: 2%;
    scrollbar-gutter: stable both-edges;
    overflow-y: scroll;
}
.instructions>ul>li{

    line-height: 30px;
}

.form-options>input{
    background-color: #69501D;
    border: 0px;
    font-family: 'Cousine';
    font-style: normal;
    font-size: 1.3rem;
    color: #828282;
    padding: 1%;
    border-radius: 15px;
    width: 100%;

    
}
.form-options>input:focus{
    outline: none;
}

.token-form{
    overflow: scroll;
    padding: 2%;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 15px;
    max-height: fit-content;
    margin-left: 1%;
    margin-right: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  ::-webkit-scrollbar-corner{
    background-color: transparent;
  }

  @media screen and (max-width: 900px) {
    .manage-slider{
        width: 100%;
        border-radius: 0px;
        overflow-y: scroll;
    }
    .instructions{
        margin: 0;
        }
  }