nav{
    display: flex;
    flex-direction: row;
    padding: 4% 5%;
    align-items: center;
    
}


.option{
    color: #828282;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-left: 4%;
    cursor: pointer;
}

.search-bar,.search-bar-m{
    display: flex;
    flex-direction: row;
}
.search-bar{
    margin-left: auto;
    box-shadow: 0px 4px 0px #000000;

}
.search-bar-m{
    display: none;
}
.search-bar-m>input,.search-bar>input{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: #69501d54;
    color: #DD8500;
    border-radius: 0px 15px 15px 0px;
    border-color: transparent;
    
}
.search-bar-m>input,.search-bar>input::placeholder{
    color:#DD8500;
}
.search-bar-m>input,.search-bar>input:focus{
    outline: none;
}

.menu-btn{
    display: none;
}
.search-bar,.connect-btn,.option{
    display: inherit;
}
.connect-btn{
    margin-left: auto;
    color: #DD8500;
    font-size: 1.3rem;
    background-color: #69501d54;
    border-radius: 15px;
    padding: 0.2% 1%;
    height: 48px;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.notif{
    width: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    z-index: 10;
    margin-top: 8%;
    text-align: center;
    
}
@media screen and (max-width:1424px) {
    nav{
        padding: 4% 2%;
        justify-content: space-between;
    }
    .menu-btn{
        display: initial;
        
    }
    .search-bar,.connect-btn,.option{
        display: none;
    }
    .search-bar-m{
        display: flex;
        flex-direction: row;
        padding: 2%;
        flex-basis: 0px;
        flex-grow: 1;
    }
    .notif{
        margin-top: 20%;
    }
}

@media screen and (max-width:900px) {
    .notif{
        flex-direction: column;
        text-align: center;
        
    }
}