.trade-main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1% 5%;
    grid-gap: 2%;
    
}

.chart{
    background-color: #5c523938;
    border-radius: 15px;
    padding: 2%;
}

.token-info{
    text-align: center;
    color: white;
    background-color: #5c523938;
    border-radius: 15px;
    padding-top: 10%;

}

.title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.sub-info{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20% 4%;
    grid-gap: 6%;
    margin-bottom: 10%;
}

.opt{
    color: #828282;
    text-align: left;
    
}
.ans{
    text-align: right;
    
}

.execution{
    background: #5c523938;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    padding: 3% 2%;
    margin-bottom: 3%;
    width: 100%;
}

.buy-sell{
    display: flex;
    text-align: center;
    border-radius: 15px;
    background: #00000085;
    padding: inherit;
    min-width: 0;
}

.selector-btn,.selector-btn-buy,.selector-btn-sell{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 32px;
    border-radius: 10px;
    color: #808080;
    padding: inherit;
    cursor: pointer;
}

.selector-btn-buy{
    color: white;
    background-color: #91E564;
}
.selector-btn-sell{
    color: white;
    background-color: #DD8500;
}

.buy-sell>input{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0px;
    color:#808080
}
.buy-sell>input:focus{
    outline: none;
}
#balance{
    color: #808080;
    text-align: left;
    margin-left: 4px;
    margin-top: 2%;
    font-size: 0.8rem;
}

.confirmation{
    display: flex;
    text-align: center;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}

.confirmation>div{
    cursor: pointer;
    width: 100%;
    padding: 2%;
    border-radius: 15px;
    color: #DD8500;
    margin: 2%;
    background-color: #69501d54;
}

#heading{
    font-size: 1.8rem;
    font-weight: 900;
    width: 100%;

}
#sub-heading{
    font-size: 1rem;
    width: 100%;
}
.footer-content{
    color: #FFFFFF;
    border-top: 2px solid #828282;
    border-bottom: 2px solid  #828282;
    height: max-content;
}
.links{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: flex-start;
    margin-bottom: 3%;
    align-items: center;
}
.links>a{
    margin-right: 2%;
    margin-left: 2%;
    text-decoration: none;
    color:#FFFFFF;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media screen and (max-width:900px) {
    .trade-main{
        grid-template-columns: 1fr;
        grid-gap: 1%;
        padding: 1% 2%;
    }
    .execution{width: auto;
    padding: 3% 1%;}
    
    .buy-sell{
        padding: 3%;
    }
    div.footer:nth-child(3){
        order: 4;
        text-align: center;
    }
    .links{
        justify-content: center;
    }
    .chart{
        min-height: 350px;
    }
}